In [1]:
#Import Dependencies

import pandas as pd
import numpy as np

#Import the csv file
csv_file_path = "Resources/purchase_data.csv"

#Read the csv file and put it in a DataFrame
heros_pymoli = pd.read_csv(csv_file_path)
heros_pymoli.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#Total Players Count
players_count = len(heros_pymoli)
players_count

780

In [3]:
#Purchasing Analysis (Total)
#Run basic calculations to obtain number of unique items, average price, etc.
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

#Find the number of unique items
unique_items = len(heros_pymoli["Item ID"].unique())
total_purchases = len(heros_pymoli["Purchase ID"])
total_revenue = heros_pymoli["Price"].sum()
average_price = heros_pymoli["Price"].sum()

purchasing_summary = pd.DataFrame({"Number of Unique Items":[unique_items],
                            "Average Price": [average_price],
                            "Number of Purchases": [total_purchases],
                            "Total Revenue": [total_revenue]})
purchasing_summary.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

In [8]:
#Gender Demographics
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other/Non-Disclosed

total_players =  players_count
total_players


#Gender Groupby
gend_groupby = heros_pymoli.groupby('Gender')

#Count total number of screen names by gender
total_sn_count = gend_groupby.nunique()["SN"]

#Calculations by gender
gend_percent_players = (total_sn_count / total_players) * 100
gend_demos = pd.DataFrame({"Percentage of Players": gend_percent_players, "Total Count": total_sn_count})

#Format the data frame showing percentages with no index
gend_demos.index.name = None
gend_demos.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})

In [12]:
#Purchasing Analysis (Gender)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

purchase_sn_count = gend_groupby["SN"].count()
average_purchase_price_gend = gend_groupby["Price"].mean()
total_purchase_value_gend = gend_groupby["Price"].sum()
average_purchase_per_gend = average_purchase_price_gend/total_sn_count

purchasing_analysis_gend = pd.DataFrame({"Purchase Count": purchase_sn_count,
                                   "Average Purchase Price": average_purchase_price_gend,
                                   "Total Purchase Value": total_purchase_value_gend,
                                   "Average Purchase Total per person": average_purchase_per_gend})
purchasing_analysis_gend.index.name = "Gender"
purchasing_analysis_gend.style.format({"Average Purchase Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}",
                                "Average Purchase Total per Person":"${:,.2f}"})

In [25]:
gender_df = heros_pymoli[["SN", "Gender", "Age"]].drop_duplicates()

In [24]:
#Age Demographics
#Establish bings for ages
#Categorize the existing players using the age bins. Hint: use pd.cut()
#Calculate the numbers and percentages by age group
#Create a summary data frame to hold the results
#Optional: round the percentage column to two decimal points
#Display Age Demographics Table

#Create bins for age groups
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Sort data into bins
gender_df["Age Group"] = pd.cut(gender_df["Age"], age_bins, labels=age_groups)
gender_df

age_groupby = gender_df.groupby("Age Group")
total_age_count = age_groupby["SN"].nunique()
percent_players_age = (total_age_count/total_players) * 100

#Once the data is sorted, create a data fram and format it
age_demos = pd.DataFrame({"Percentage of Players": percent_players_age, "Total Count": total_age_count})
age_demos.index.name = None
age_demos.style.format({"Percentage of Players":"{:,.2f}"})

In [33]:
#Purchasing Analsis (Age)
#Bin the purchase_data data frame by age
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

#Create bins for age groups
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Sort data into bins
heros_pymoli["Age Group"] = pd.cut(heros_pymoli["Age"], age_bins, labels=age_groups)
heros_pymoli


#Calculate purchasing analysis parameters by age and groupby age
purchase_sn_count = heros_pymoli.groupby("Age Group")["SN"].count()
average_purchase_price_age = heros_pymoli.groupby("Age Group")["Price"].mean()
total_purchase_value_age = heros_pymoli.groupby("Age Group")["Price"].sum()
average_purchase_per_age = average_purchase_price_age/total_age_count

purchasing_analysis_age = pd.DataFrame({"Average Purchase Price": average_purchase_price_age,
                                   "Total Purchase Value": total_purchase_value_age,
                                   "Average Purchase Total per person": average_purchase_per_age})
purchasing_analysis_age.index.name = "Gender"
purchasing_analysis_age.style.format({"Average Purchase Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}",
                                "Average Purchase Total per Person":"${:,.2f}"})

In [36]:
#Top Spenders
#Run basic calculations to obtain the results in the table below
#Create a summary data frame to hold the results
#Sort the total purchase value column in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame

#Groupby screen names
top_spenders = heros_pymoli.groupby("SN")

#Calculate the top spending parameters
total_purchase_value_spender = top_spenders["Price"].sum()
purchase_count_spender = top_spenders["Purchase ID"].count()
average_purchase_price_spender = top_spenders["Price"].mean()

#In descending order, create a dataframe with formatting
top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count_spender,
                               "Average Purchase Price": average_purchase_price_spender,
                               "Total Purchase Value":total_purchase_value_spender})
descending_spenders = top_spenders_df.sort_values(["Total Purchase Value"], ascending = False).head()
descending_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}",
                                 "Total Purchase Value":"${:,.2f}"})

In [45]:
#Most Popular Items
#Retrieve the Item ID, Item Name, and Item Price columns
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
#Create a summary data frame to hold the results
#Sort the purchase count column in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame

#Retrieve the Item ID, Item Name, and Item Price columns

items_cols = heros_pymoli[["Item ID", "Item Name", "Price"]]

#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
items_stats = items_cols.groupby(["Item ID", "Item Name"])
purchase_count_items = items_stats["Price"].count()
total_purchase_value_items = (items_stats["Price"].sum())
items_price = total_purchase_value_items/purchase_count_items

##Create a summary data frame to hold the results
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_items,
                                  "Items Price": items_price,
                                  "Total Purchase Value": total_purchase_value_items})
popular_items_descending = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular_items_descending.style.format({"Item Price":"${:,.2f}",
                                          "Total Purchase Value":"${:,.2f}"})

In [46]:
#Most Profitable Items
#Sort the above table by total purchase value in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the data frame


items_popular_value = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()
items_popular_value.style.format({"Item Price":"${:,.2f}",
                                      "Total Purchase Value":"${:,.2f}"})